body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.cont {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.cont h2{
    text-align: center;
}

header, footer {
    padding: 20px;
    color: #fff;
    background-color: #48a868;
    text-align: center;
}

header h1, footer p {
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.main {
    padding: 20px;
    margin-top: 20px;
}

.allrecipe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.list_of_recipe {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.list_of_recipe img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px;
}


form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
}

form input[type="text"], 
form input[type="password"], 
form input[type="file"], 
form select, 
form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.not_resize{
    resize: none;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #48a868;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

form button:hover {
    background-color: #3c8a59;
}

.search_sec {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.search_sec input[type="text"],
.search_sec select,
.search_sec button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search_sec button {
    background-color: #48a868;
    color: white;
    cursor: pointer;
}

.search_sec button:hover {
    background-color: #3c8a59;
}


@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    
    .allrecipe {
        grid-template-columns: 1fr;
    }

    .list_of_recipe {
        margin-bottom: 20px;
    }
    
    .search_sec {
        flex-direction: column;
    }
    
    .search_sec input[type="text"],
    .search_sec select,
    .search_sec button {
        width: 100%;
        margin-bottom: 10px;
    }
}
